body {
  
  margin: 0 auto;
}

header {
  height: 900px;
   
  font-size: 100px;
 margin-top: 20px;
}

img {
padding: 10px;
  width: 80%;
  display: block;
  margin: 0 auto;
}

p {
  width: 800px;
  margin: 0 auto;
  
  color: white;
  padding: 20px;
}
