h2 {
  font-size: 60px;
  margin-top: 20px;
}

img {
  padding: 10px;
  width: 80%;
  display: block;
  margin: 0 auto;
}

p {
  max-width: 800px;

  text-align: center;
  margin: 0 auto;
  color: white;
  padding: 20px;
}
